#corps
{
	font: 12px/170% Verdana, sans-serif;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
	width: 90%;
	background-color: #ccf2ff;
	overflow-x: hidden;
}

div {
	display: inline-block;
}

div#pageContent {
	/* Dimensions */
    width: 60%;
	
	/* Positionnement */
	position: absolute;
    top: 15px;
    bottom: 15px;
    left: 0;
    right: 0;
	margin: auto;
	text-align:center;
}

div#content {
	background-color: white;
	width: 90%;
	
	text-align:justify;
	
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 40px;
	padding-bottom: 40px;
}

div.menu
{
	background: -webkit-linear-gradient(white, #e1e1e1); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(white, #e1e1e1); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(white, #e1e1e1); /* For Firefox 3.6 to 15 */
	background: linear-gradient(white, #e1e1e1); /* Standard syntax */
	
	border-bottom: solid #7EAECC 1px;
	box-shadow: 0 1px 0 #dbebef;
	
	display: table;
	
	width: 100%;
	
	margin-left: auto;
	margin-right: auto;
	height: 96px;
}

a 
{
	text-decoration: none;
}

a.lienMenu , a.lienMenu:link, a.lienMenu:visited 
{
  color: #00ace6;
  
  font-weight: bold;
}

a.lienMenu:hover 
{
  color: #007399;
  text-decoration: underline;
}

button.disabledButton
{
	/* Dimensions */
	font-size: 14px;
	
	/* Couleurs */
	background-color: #5a7061; /* Gris */
    border: 2px solid #000000; /* Noir */
	border-radius: 5px;
	color: white; /* Noir */
	
	/* Ombrage */
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	
	/* Positionnement */
	display: inline-block;
	padding: 15px 15px;
    text-align: center;
 
	/* Texte */
    text-decoration: none;
	
	/* Animation */
	-webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

button.disabledButton:hover {
	background-color: #dd221f; /* Rouge */
    color: white;
}

button.enabledButton
{
	/* Dimensions */
	font-size: 14px;
	
	/* Couleurs */
	background-color: #0bba01; /* Vert pâle */
    border: 2px solid #000000; /* Noir */
	border-radius: 5px;
	color: #000000; /* Noir */
	
	/* Ombrage */
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	
	/* Positionnement */
	display: inline-block;
	padding: 15px 15px;
    text-align: center;
 
	/* Texte */
    text-decoration: none;
	
	/* Animation */
	-webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
	
	cursor: pointer;
}

button.enabledButton:hover {
	background-color: #025b1e; /* vert foncé */
    color: white;
    border-radius: 3px;
}

button 
{
	border-style: solid;
}
	button#deleteTaskX{
		width: 31px; 
		height: 31px; 

		position: absolute; 
		top: 0px;
		left: 90%;
		background: url(../img/x.png);
		border-style: none;
		
		cursor: pointer;
	}
	button#importExport{
		background-color: #ddd;
		border-width: 1px; border-color: gray;
		padding: 3px;
		padding-right: 7px;
		padding-left: 7px;
	}
	button#importExport:hover{
		background-color: #fff;
	}
	
div#map 
{
	width: 100%;
	height: 400px;
}

div.menu img
{
	margin-left: 10px;
	margin-top: 10px;
	vertical-align: top;
	
	position:relative;
	float: top;
}

div.menu li
{
	display: inline;
	
	padding-right: 32px;
	
	font-size: 18px;
}

div.menu ul.left
{
	display: inline;
	float: left;
	
}

div.menu ul.right
{
	display: inline;
	float: right;
	
	padding-right: 32px;

}

div.alignHelper
{
	display: table-cell;
	vertical-align: middle;	
}

div#taskContainer
{
	background: #eee;
	border: solid #ccc 1px;
	border-radius: 10px;
	
	margin-top: 30px;
	
	width: 100%;
}

div#teammateContainer
{
	background: #eee;
	border: solid #ccc 1px;
	border-radius: 10px;
	
	margin-top: 30px;
	
	width: 100%;
}

div.taskOuter, div.teammateOuter
{
	position: relative;
	float: left;
	width: 33%;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.taskInner, div.teammateInner
{
	border: groove #aaa 3px;
	border-radius: 10px;
	display: block;
	font-size: medium;
	overflow-y: auto;
	
	width: 80%;
	min-height: 60px;
	
	margin: 0 auto;
	padding: 5%;
}

div.taskInner, div.teammateInner
{
	background: #eeeeee;
	background: -webkit-linear-gradient(#eeeeee, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#eeeeee, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#eeeeee, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#eeeeee, #ffffff); /* Standard syntax */
}

div.taskAdd, div.teammateAdd
{
	background: #efe;
	background: -webkit-linear-gradient(#cfc, #efe); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#cfc, #efe); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#cfc, #efe); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#cfc, #efe); /* Standard syntax */
	
	cursor: pointer;
}

div.taskAdd:hover, div.teammateAdd:hover
{
	background: #dfd;
	background: -webkit-linear-gradient(#bfb, #dfd); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#bfb, #dfd); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#bfb, #dfd); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#bfb, #dfd); /* Standard syntax */
}

footer
{
	background: -webkit-linear-gradient(white, #e1e1e1); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(white, #e1e1e1); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(white, #e1e1e1); /* For Firefox 3.6 to 15 */
	background: linear-gradient(white, #e1e1e1); /* Standard syntax */
	
	border-top: solid #7EAECC 1px;
	box-shadow: 0 1px 0 #dbebef;
	
	display: table;
	
	width: 100%;
	
	margin-left: auto;
	margin-right: auto;
	height: 96px;
}

h1
{
	text-align: center;
}

h1.titre1 {	
	color: #6ca2c6;
    font-size: 160%;
}

h1.titre2 {
	text-align: left;
	
	color: #91b9d4;
    font-size: 130%;
}

h1.titre3 {
	text-align: left;
	
	color: #80bfff;
    font-size: 100%;
}

span#distributeTasksMessages {
	margin-left: 15px;
}

img
{
	border: 1px solid;
    border-radius: 5px;
}

img#logo
{
	height: 75px;
	width: auto;
}

img.imgMembre
{
	width: 120px;
	height: 120px;
}

table#membres
{
	width: 100%;
}

td
{
	vertical-align:top;
}

td.idMembre
{
	width: 33%;
	
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 40px;
}

table.import-export
{
	border-collapse: collapse;
}

table.import-export td
{
	border: solid #dddddd 1px;
	padding: 10px;
}

table.import-export tr
{

}